<div class="bs-example">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{usrname}} Dream Journal</h3>
        </div>
        <div class="panel-body">
          <div class="container-fluid">  
            <div class="row-fluid">        
              <div class="span9">       
                <div class="row-fluid">
                {{#each myDreams}}
                  <div class="dreamClass">
                    <h3>{{title}}</h3>
                    <p>{{content}}</p>                                                      
                      <a href="/edit/{{_id}}"><i class="glyphicon glyphicon-edit" title="edit"></i></a>&nbsp;&nbsp;                     
                    <hr>          
                  </div>    
                 {{/each}}       
                </div>
              </div>
            </div>
    </div>
</div>
</div>
</div>




