<form role="form" method="POST" action="/login">
	<div class="row form-group" style="margin-top:30px;width:300px;text-align:center;align:center;">
	  <div class="col-md-6"><label for="user">User Name</label></div>
	  <div class="col-md-6"><input type="text" name="user" id="user" class="form-control"></div>
	</div>
	<div class="row form-group" style="margin-top:30px;width:300px;text-align:center;">
	  <div class="col-md-6"><label for="password">Password</label></div>
	  <div class="col-md-6"><input type="password" name="password" id="user" class="form-control"></div>
	</div>
	<div class="row form-group" style="margin-top:30px;width:300px;text-align:center;">
	  <div class="col-md-12"><input type="submit" class="btn btn-info" value="Login"></div>
	</div>
</form