#main-nav{
    padding-top:10px;
}
.ddClass{
    max-width: 75%;    
    
}
.dreamClass{
      background-color: 'blue';
    }

.footerClass{
  bottom:50px;
  left:20px;
  text-align:center;
position:absolute;
background-color: navy;
}
hr {
  color: black;
}
.outerClass{
    padding-top: 15px;
}

/* div's inside the form */
div.row{
    margin-top: 5px;
}

/*check boxes */

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  border: 1px solid #000000;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  width: 16px;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #666;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #481CC9;
  color:cornsilk;
    padding: 5px;
}